name: CI

on:
  push:
    branches: [main]
    paths-ignore: ["*.html"]
  pull_request:
    paths-ignore: ["*.html"]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Lint
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test
